#venues-container {
    max-width: 300px;
    justify-content: center;
}

.venueContainer {
    max-width: 250px;
}
.venueContainer:hover {
    background-color: var(--element-hover);
}

.venueImgContainer {
    height: 160px;
    overflow: hidden;
}

.venueImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/*.venuesImg:hover {
    transform: scale(1.03);
}*/

.venueOwner img,
.venueOwner svg {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.venueTitle {
    width: 0;
    min-width: 100%;
}

@media only screen and (min-width: 620px) {
    #venues-container {
        max-width: 900px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(1px, 250px));
        grid-gap: 25px;
    }
}
