#venues-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.venueContainer:hover {
    background-color: var(--element-hover) !important;
}
#venues-container p {
    min-width: 90%;
    width: 0;
}

.venueImgContainer {
    max-height: 325px;
    overflow: hidden;
}

.venueImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/*.venuesImg:hover {
    transform: scale(1.03);
}*/

.venueOwner img,
.venueOwner svg {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 3px;
}
.venueOwner svg {
    padding: 2px;
}

.pageArrows {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    border: none !important;
}
.pageArrows svg {
    width: 25px;
    height: 25px;
}

.venueTitle {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    max-height: 100px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 620px) {
    #venues-container {
        max-width: 900px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(1px, 250px));
        grid-gap: 25px;
    }
    .venueImgContainer {
        height: 160px;
    }
}
