#venues-container {
    max-width: 300px;
    justify-content: center;
}

.venuesContainer {
    max-width: 250px;
}

.venuesImgContainer {
    height: 160px;
    overflow: hidden;
}

.venuesImg {
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.venuesImg:hover {
    transform: scale(1.03);
}

.venuesOwner img,
svg {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.venuesTitle {
    width: 0;
    min-width: 100%;
}

@media only screen and (min-width: 620px) {
    #venues-container {
        max-width: 600px;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 950px) {
    #venues-container {
        max-width: 900px;
    }
}
