#venue-container {
    max-width: 600px;
}

#img-carousel {
    max-height: 400px;
    max-width: 700px;
}

.carouselImgContainer {
    max-height: 400px;
    width: 100%;
}

.carouselImg {
    max-height: 400px;
    max-width: 100%;
    object-fit: contain;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: var(--dark);
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
}

/*.carousel-indicators {
    background-color: white;
    border-radius: 4px !important;
    opacity: 50%;
}*/

#venueOwner img,
#venueOwner svg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#venueMetaLocation:hover {
    color: var(--link) !important;
}

#venueMetaPets svg {
    width: 26px;
    height: 100%;
}

.venue-description {
    white-space: pre-line;
}

.venue-description-hidden {
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.venue-description-open {
    -webkit-line-clamp: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 618px) {
    .carouselImgContainer {
        height: 400px;
    }
    #img-carousel {
        height: 400px;
        max-width: 700px;
    }
    .carouselImg {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
