#venue-container {
    max-width: 600px;
}

.venueImg {
    max-height: 400px;
}

#img-carousel {
    height: 400px;
    width: 700px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    width: 38px;
    height: 38px;
    border-radius: 50% !important;
}

/*.carousel-indicators {
    background-color: white;
    border-radius: 4px !important;
    opacity: 50%;
}*/

#venueOwner img,
#venueOwner svg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#venueMetaLocation:hover {
    color: #73a609 !important;
}

#venueMetaPets svg {
    width: 26px;
    height: 100%;
}
