.searchResultsBooking {
    position: absolute;
    top: 74px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    max-height: 160px;
    max-width: 100%;
}
#search-list-booking {
    width: 100%;
}

.search-list-item-booking:hover {
    background-color: var(--element-hover);
}
