.custom-header-searchbar-booking {
    position: relative !important;
}

.custom-header-searchbar-booking:focus {
    z-index: 2;
}

.searchResultsBooking {
    position: absolute;
    top: 74px;
    width: 100%;
}

#search-list-booking {
    width: 100%;
}

.search-list-item-booking:hover {
    background-color: var(--element-hover);
}

@media only screen and (min-width: 576px) {
    .searchResultsBooking {
        left: 50%;
        transform: translate(-50%);
        max-height: 160px;
        max-width: 100%;
    }
}
