.custom-header-searchbar {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 40px;
    border-color: var(--dark);
    height: 40px;
}

.custom-header-searchbar:focus {
    z-index: 2;
}

.custom-header-searchbar-btn {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 6;
}

#header-menu-parent {
    position: relative;
}

#header-menu-btn {
    white-space: nowrap;
}

#rotate-arrow {
    transform: rotateX(180deg);
}

.dropdownMenu {
    overflow: hidden;
    height: 0px;
}

@media (prefers-reduced-motion: no-preference) {
    #rotate-arrow {
        transform: rotateX(180deg);
        transition: transform 0.4s;
    }
    #arrow {
        transition: transform 0.4s;
    }
    .dropdownMenu {
        overflow: hidden;
        height: 0px;
        transition: height 0.4s ease;
    }
}

.expandMenuRegular {
    height: 120px;
}
.expandMenuManager {
    height: 160px;
}

#header-dropdown-menu {
    position: absolute;
    z-index: 7;
    top: 48px;
    right: 0;
    width: 156px;
}

#header-dropdown-menu a {
    color: var(--dark) !important;
}

#header-dropdown-menu a:hover {
    /*background-color: rgb(224, 224, 224);*/
    color: var(--link) !important;
}

.profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.searchResults {
    position: absolute;
    top: 48px;
    width: 100%;
}

.searchList {
    width: 100%;
}

.search-list-item:hover {
    background-color: var(--element-hover);
}

@media only screen and (min-width: 576px) {
    .searchResults {
        left: 50%;
        transform: translate(-50%);
        max-height: 160px;
        max-width: 100%;
    }
}
