$dark: #202020;
$light: #F9F9F9;
$secondary: #F1F1F1;
$primary: #4C7E0C;
$danger: #8B0000;

@import "../node_modules/bootstrap/scss/bootstrap";

//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";