@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Ubuntu:wght@400;500&display=swap');

main {
    min-height: calc(100vh - 176px);
    padding-bottom: 100px;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 20px !important;
}

p,
h1 {
    margin-bottom: 0 !important;
}

.title-p {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

.undertitle-p {
    font-weight: 500;
}

p,
.ubuntuText {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

a {
    color: black !important;
    text-decoration: none !important;
    font-family: 'Ubuntu', sans-serif;
}

.linkText {
    color: #73a609 !important;
    text-decoration: underline !important;
}
.linkText:hover {
    color: #68930a !important;
}

.smallIcon {
    width: 16px;
    height: 16px;
}
.mediumIcon {
    width: 20px;
    height: 20px;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.formContainer {
    max-width: 300px !important;
}
