@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Ubuntu:wght@400;500&display=swap');

:root {
    --link: #4c7e0c;
    --link-hover: #3d650a;
    --element-hover: #eaf4eb;
    --scrollbarBG: #efefef;
    --thumbBG: #9a9a9a;
    --dark: #202020;
}

main {
    min-height: calc(100vh - 176px);
    padding-bottom: 100px;
}

h1,
h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.25rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

p,
h1 {
    margin-bottom: 0 !important;
}

.undertitle-p {
    font-weight: 500 !important;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.ubuntuText,
.form-control,
.form-label,
button {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400 !important;
}

a {
    color: var(--dark) !important;
    text-decoration: none !important;
    font-family: 'Ubuntu', sans-serif;
}

button {
    white-space: nowrap;
}

.linkText {
    color: var(--link) !important;
    text-decoration: underline !important;
}
.linkText:hover {
    color: var(--link-hover) !important;
}

.smallIcon {
    width: 16px;
    height: 16px;
}
.mediumIcon {
    width: 20px;
    height: 20px;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: black transparent black transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .lds-dual-ring:after {
        content: ' ';
        display: block;
        width: 25px;
        height: 25px;
        margin: 8px;
        border-radius: 50%;
        border: 3px solid #fff;
        border-color: black transparent black transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.formContainer {
    max-width: 300px !important;
}

.formContainerLarge {
    max-width: 500px !important;
}

.scrollBarContent {
    overflow: hidden;
    overflow-y: auto;
    /* scrollbar is only supported by Firefox as of 16.05.2023 */
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

/* webkit-scrollbar is supported by a majority of browsers, but not Firefox as of 16.05.2023 */
.scrollBarContent::-webkit-scrollbar {
    width: 11px;
}
.scrollBarContent::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.scrollBarContent::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border: 3px solid var(--scrollbarBG);
    border-radius: 10px;
}
